{% extends 'base.html' %}
<title>
    {% block title %}404 - Page Not Found{% endblock %}
</title>


{% block css %}
    <Link rel="stylesheet" href="../static/404.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="right-item">
            <img src="./fa_brandtitel_color2_jpg.jpg" width="500" height="500" alt="404-error">
        </div>
        <div class="left-item">
            <h1 class="box-title">404</h1>
            <h2>صفحه‌ای که به دنبال آن هستید پیدا نشد.</h2>
            <p>ممکن است آدرس را اشتباه وارد کرده باشید یا صفحه حذف شده باشد.</p>
            <a href="./index.html" class="return-home">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</main>
{% endblock %}
