
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}



<footer class="footer-distributed">
    <div class="footer-right">
        <h3>شرکت <span>گلدیس</span></h3>

        <p class="footer-links">
            <a href="#">خانه</a>
            |
            <a href="#">خدمات</a>
            |
            <a href="#">درباره ما</a>
            |
            <a href="#">قوانین</a>
        </p>
        <img src="../../static/img/ENAMADpng.parspng.com_.png" alt="Enamad">
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>تهران</span>
        طرشت</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>9966333219 98+</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p style="color:rgb(228, 190, 138)">info@goldis.ir</p>
        </div>
    </div>

    <div class="footer-left">
        <p class="footer-company-about">
            <span>درباره شرکت</span>
            <strong>گلدیس</strong> در راستای تسهیل فرایند خرید طلا با تکیه بر دانش فنی 
            و تیم متخصص امکان مقایسه، بررسی و مشاهده‌ی قیمت لحظه ای طلا در هر ساعتی از شبانه روز و 
            امکان خرید لحظه ای و دریافت طلای آبشده را فراهم آورده .
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>





