{% load static %}
{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}


<div class="navigation">
    <ul class="ul-linkss">
        <li><a href="{% url 'home:home' %}">صفحه اصلی</a></li>
        {% if current_page == 'home' %}
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
        {% elif current_page == 'wallet' %}
            <li><a href="{% url 'sales:buy' %}">خرید</a></li>
            <li><a href="{% url 'sales:sell' %}">فروش</a></li>
            <li><a href="{% url 'sales:transactions' %}">تراکنش ها</a></li>
        {% elif current_page == 'buy' %}
            <li><a href="{% url 'sales:sell' %}">فروش</a></li>
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
            <li><a href="{% url 'sales:transactions' %}">تراکنش ها</a></li>
        {% elif current_page == 'sell' %}
            <li><a href="{% url 'sales:buy' %}">خرید</a></li>
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
        {% endif %}
        <li><a href="{% url 'home:services' %}">خدمات</a></li>
        <li><a href="{% url 'home:rules' %}">قوانین</a></li>
        <li><a href="{% url 'home:about' %}">درباره ما</a></li>
    </ul>
    <span class="nav-icon"><i class="fa-solid fa-bars"></i></span>
    <ul class="ul-links">
        <li><a href="{% url 'home:home' %}">صفحه اصلی</a></li>
        {% if current_page == 'home' %}
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
        {% elif current_page == 'wallet' %}
            <li><a href="{% url 'sales:buy' %}">خرید</a></li>
            <li><a href="{% url 'sales:sell' %}">فروش</a></li>
            <li><a href="{% url 'sales:transactions' %}">تراکنشها</a></li>
        {% elif current_page == 'buy' %}
            <li><a href="{% url 'sales:sell' %}">فروش</a></li>
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
            <li><a href="{% url 'sales:transactions' %}">تراکنشها</a></li>
        {% elif current_page == 'sell' %}
            <li><a href="{% url 'sales:buy' %}">خرید</a></li>
            <li><a href="{% url 'sales:wallet' %}">کیف پول</a></li>
        {% endif %}
        <li><a href="{% url 'home:services' %}">خدمات</a></li>
        <li><a href="{% url 'home:rules' %}">قوانین</a></li>
        <li><a href="{% url 'home:about' %}">درباره ما</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts:user_profile' request.user.id %}">حساب کاربری</a></li>
        {% endif %}
        </ul>
    
    <div class="user-pic">
        <img src="{% static '/img/user-icon.png' %}" alt="user-pic">
        {% if request.user.is_authenticated %}
            <ul>
                <li class="sub-item">
                    <i class="fa-solid fa-user"></i>
                    <a class="nav-link active" href="{% url 'accounts:user_profile' request.user.id %}">حساب کاربری</a>
                </li>
                <li class="sub-item">
                    <i class="fa-solid fa-wallet"></i>
                    <a class="nav-link active" href="{% url 'accounts:user_bank_info' request.user.id %}">حساب بانکی</a>
                </li>
                <li class="sub-item">
                    <i class="fa-solid fa-power-off"></i>
                    <a class="nav-link active" href="{% url 'accounts:logout' %}">خروج</a>
                </li>
            </ul>
        {% endif %}
    </div>

   

    <div class="logo-pic">
        <img src="{% static '/img/goldis-logo.jpeg' %}" alt="logo-pic">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    const userPic = document.querySelector('.user-pic img');
    const userMenu = document.querySelector('.user-pic ul');

        userPic.addEventListener('click', () => {
            userMenu.classList.toggle('show');
        });

        
        document.addEventListener('click', (e) => {
            if (!userPic.contains(e.target) && !userMenu.contains(e.target)) {
                userMenu.classList.remove('show');
            }
        });
    });


    document.addEventListener("DOMContentLoaded", () => {
    const navIcon = document.querySelector('.nav-icon');
    const ulLinks = document.querySelector('.ul-links');

    navIcon.addEventListener('click', () => {
        ulLinks.classList.toggle('show');
    });
});


</script>