
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/old_header.css' %}">
{% endblock %}


<div class="container">
    <div class="landing">
        
        <div class="landing-left">
            <h1 class="main-heading main-heading-left">Gol</h1>
        </div>
        <div class="landing-right">
            <div class="about">
                <h1>طلای <span>آبشده</span></h1>
                <p>امکان خرید طلای آبشده با کد عیار سنجی به همراه فاکتور و ارسال سریع</p>
                
                <p id="p1">امکان خرید طلای آبشده با کد عیار سنجی </p>
                <div class="link">
                    <a href="#">اطلاعات بیشتر</a>
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
            </div>
            
            <h1 class="main-heading main-heading-right">dis</h1>

        </div>
        <div class="landing-left-bg"></div>
    </div>
</div>