<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/ghavanin.css">
    <link rel="stylesheet" href="../styles/khadamat.css">
</head>
<body>
    <div class="container">
        <div class="titr">
            درباره ما
        </div>
        <div class="title">
            گلدیس، مسیر ساده خرید طلای آبشده
        </div>
        <div>
            گلدیس، مسیر ساده خرید طلای آبشده تلاش گلدیس در راستای تسهیل فرایند خرید و جلوگیری از تاثیر تورم بر دارایی بوده و این فرصت را فراهم کردیم که در کوتاه ترین زمان روی فلز ارزشمند طلا سرمایه گذاری کنید. زیرا از طلا همواره به عنوان دارایی امن یاد میشود که در زمان رکود اقتصادی همچنان در جهان ارزشمند بوده است. تیم گلدیس ، با تکیه بر دانش فنی مدیران و متخصصین حوزه طلا و اقتصاد تلاش کرده تا بستری را فراهم کند که در هر ساعتی از شبانه روز علاوه بر بررسی، مقایسه و مشاهده قیمت طلا، امکان خرید و فروش طلا از بازار تهران برای همه افراد در سرتاسر ایران میسر شود.و تمامی افراد به صورت 24 ساعته امکان دسترسی به قیمت و خرید طلا را داشته، تا با محدودیت های متداول در انواع بازار های مالی مواجه نشوند و از 50 سوت طلای خود را با مراجعه به دفتر مرکزی و یا مراکز تحت قرارداد گلدیس دریافت نمایند. تیم فنی گلدیس با بکارگیری فناوری پیشرفته، وب اپلیکیشنی با کاربری ساده، با بروزترین تکنولوژی طراحی کرده است تا استفاده از آن برای همه کاربران آسان باشد.
        </div>
        <div class="titr">
            ارتباط با ما
        </div>
        <div class="nums">
            <div class="num">
                <span>
                    ارتباط مستقیم با مدیر عامل
                </span>
                <div class="tel">
                    <span>
                        09121023589
                    </span>
                </div>
            </div>
            <div class="num">
                <span>
                    مدیر فروش و پشتیبانی
                </span>
                <div class="tel">
                    <span>
                        09129328044
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>