<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خرید</title>
    <link rel="stylesheet" href="../styles/checkWallet.css">
</head>
<body>
    <div class="container">
        <div class="box gold-box">
            <div class="matn">
                <span class="title">
                    خرید طلا
                </span>
                <div class="explain">
                    با وارد کردن میزان گرم طلای مورد نظر میتوانید قیمت نهایی خرید طلای آب شده خود را مشاهده کنید همچنین با وارد کردن مبلغ مورد نظر میتوانید مقدار گرم طلای قابل خرید را مشاهده کنید . سپس با کلیک بر روی فروش اقدام به انجام معامله کنید .
                    <br>
در نظر داشته باشید خرید و فروش طلای آبشده مشمول مالیات نبوده و هیچ گونه اجرت از شما دریافت نمی‌شود.
                </div>
            </div>
            <div class="left-side">
                <span class="header">ماشین حساب خرید  طلا</span>
                <form class="calculate-box">
                    <div class="area gold-balance-right">
                        <span>
                            موجودی طلا
                        </span>
                        <span>
                            ######
                        </span>
                    </div>
                    <div class="area gold-type">
                        <span>نوع طلا</span>
                        <span>طلای آب شده</span>
                    </div>
                    <div class="area buy-box">
                        <span>
                            قیمت خرید طلا :
                        </span>
                        <div class="amount">
                            <span>
                                ######
                            </span>
                            <span>
                                ریال
                            </span>
                        </div>
                    </div>
                    <div class="area money-box">
                        <span>
                            مبلغ :
                        </span>
                        <div class="amount">
                            <input type="text" class="amount-input" placeholder="0">
                            <span>
                                ریال
                            </span>
                        </div>
                    </div>
                    <div class="area gold-amount">
                        <span>گرم طلا :</span>
                        <div class="amount">
                            <input type="text" placeholder="0" class="amount-input">
                            <span>گرم</span>
                        </div>
                    </div>
                    <div class="gold-btn">
                        <button class="btn" type="button">
                            خرید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>