<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ghavanin</title>
    <link rel="stylesheet" href="../styles/ghavanin.css">
</head>
<body>
    <div class="container">
        <div class="titr">
            قوانین و مقررات سایت گلدیس
        </div>
        <div class="explain">
            کاربر محترم گلدیس از عضویت شما سپاسگذاریم. قوانین گلدیس منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده گرد آوری شده است تا به استفاده هرچه کارآمد تر شما، از خدمات گلدیس کمک کند. لذا خواهشمندیم قوانین را با دقت مطالعه بفرمایید. در صورت تغییر در قوانین ، اطلاعات در همین صفحه به‌روز رسانی خواهد شد.
        </div>

        <div class="ghavanin">
            <span id="karbari" class="shape">
                قــــوانین کاربری
            </span>
            <span id="vajh" class="shape poly">
                قوانین خرید، دریافت وجه
            </span>
            <span id="tahvil" class="shape">
                قوانین تحویل طلا
            </span>
            <span id="moaref" class="shape poly">
                قوانین کد معرف گلدیس
            </span>
            <span id="hedye" class="shape">
                قوانین استفاده از کد هدیه 
            </span>
        </div>
        <div class="tozihat">
            <div id="karbariExplain" style="display: none;">
                <ul class="my-list">
                    <li>
                        از لحظه خرید کاربران تا زمان تحویل طلای خریداری شده، مسئولیت حفظ و نگهداری اصل طلا بر عهده گلدیس می باشد.
                    </li>
                    <li>
                        کاربران گلدیس از ریسک‌های مربوط به سرمایه‌گذاری در حوزه طلا مطلع بوده و با علم بر این موضوع اقدام به خرید و سرمایه گذاری می‌کنند.
                    </li>
                    <li>
                        گلدیس به عنوان بازار آنلاین خرید طلای آبشده، هیچ گونه مسئولیتی در قبال نحوه‌ی معاملات کاربران و سود و زیان حاصل از آن ندارد
                    </li>
                    <li>
                        هر کاربر تنها امکان ساخت یک حساب کاربری را داراست و در مرحله تایید و احراز هویت باقی حساب های شخص بسته خواهد شد.
                    </li>
                    <li>
                        محافظت از رمز عبور بر عهده کاربر می‌باشد و مسئولیتی در قبال افشا رمز عبور بر عهده گلدیس نمی‌باشد.
                    </li>
                    <li>
                        با توجه به اینکه بازیابی رمز عبور از طریق سیم کارت انجام می شود، پیش از انتقال یا فروش سیم کارت از طریق پشتیبانی نسبت به تغییر شماره و اطلاعات حساب گلدیس خود اقدام نماید.
                    </li>
                    <li>
                        در صورتی که کاربر برای ثبت نام در سامانه گلدیس، از شماره موبایل شخص دیگری استفاده کند مسئولیت اتفاقات پیش رو متوجه شخص مالک سیم کارت می باشد.
                    </li>
                    <li>
                        در صورت عدم رعایت مقررات سیستم خرید و فروش اینترنتی، گلدیس مجاز به غیر فعال سازی حساب کاربری بوده و در صورت مشاهده هرگونه تخلف، طبق قوانین کشور برخورد می‌گردد
                    </li>
                    <li>
                        گلدیس متعهد می‏‌شود در حد توان از حریم شخصی شما محافظت کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما، خدمات سایت را توسعه دهد.
                    </li>
                    <li>
                        در صورت فوت یا مفقودی شخصی که در حساب کاربری گلدیس خود دارای طلا و یا موجودی ریالی باشد، بنا بر قوانین و مقررات کشور برای موجودی وی تصمیم گیری می شود.
                    </li>
                    <li>
                        برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است و از آنجا که کلیه فعالیت‌های گلدیس قانونی و مبتنی بر قوانین تجارت الکترونیک صورت می‌گیرد و طی فرایند خرید، فاکتور رسمی و بنا به درخواست مشتریان حقوقی گواهی ارزش افزوده صادر می‌شود، از این رو وارد کردن اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی برای خریدهای سازمانی لازم است.
                    </li>
                    <li>
                        گلدیس با تاکید بر احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا استفاده از برخی امکانات وب‌سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد.
                    </li>
                    <li>
                        یادآوری می‌شود آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های گلدیس از طریق آنها صورت می‌گیرد.
                    </li>
                    <li>
                        درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که موارد فوق به صورت صحیح یا کامل درج نشده باشد، گلدیس جهت اطمینان از صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.
                    </li>
                </ul>
            </div>
            <div id="vajhExplain" style="display: none;">
                <ul>
                    <li>
                        افزایش موجودی ریالی در گلدیس به صورت ۲۴ ساعته و از طریق درگاه پرداخت آنلاین ممکن است.
                    </li>
                    <li>
                        لازم است تمامی تراکنش ها با کارت بانکی صاحب حساب کاربری گلدیس پرداخت شود و در صورت بروز هرگونه مشکل عواقب آن با کاربر بوده و گلدیس می‌تواند طبق قوانین عمل نماید.
                    </li>
                    <li>اضافه کردن محصول به سبد خرید به معنای نهایی شدن خرید نمی‌باشد و در صورت نوسان قیمت طلا و یا تغییر موجودی شمش های گلدیس، قیمت نهایی بر اساس قیمت لحظه ای و محصولات موجود محاسبه می‌گردد. بنابراین به مشتریانی که تمایل و تصمیم به خرید قطعی دارند، به‌ویژه درباره کالاهای تخفیف دار که دارای محدودیت تعداد هستند، توصیه می‌شود در اسرع وقت سفارش خود را نهایی کنند.
                    </li>
                    <li>
                        پس از هر خرید فاکتور رسمی گلدیس در حساب کاربری قابل مشاهده و چاپ می‌باشد.
                    </li>
                    <li>
                        درصورت بروز نوسان شدید در قیمت طلا و هرگونه رویداد برهم زننده نظم حاکم بر بازار طلا، گلدیس می‌تواند برای خرید و فروش طلا توسط کاربر سقف تعیین کند تا دو طرف متضرر نشوند.
                    </li>
                    <li>
                        گلدیس مجاز است بدون اطلاع قبلی و به صلاح دید شخصی نسبت به توقف سفارش‌‏گیری جدید، فروش طلا را متوقف کند بدیهی است که کلیه سفارش‌‏های ثبت شده‌ی قبل از توقف سفارش‌‏گیری، پردازش و تحویل داده خواهد شد. حق توقف فروش کلیه و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای گلدیس محفوظ است.
                    </li>
                    <li>
                        در صورت ناموفق شدن تراکنش و بازگشت وجه به کارت بانکی کاربر، گلدیس مسئولیتی در قبال تغییر قیمت محصولات ندارد و شمش های طلا با قیمت لحظه ای بازار ارزش‌گذاری خواهد شد.
                    </li>
                    <li>
                        تمامی تراکنش ها اعم از شارژ حساب، خرید، فروش، دریافت وجه و تراکنش های ناموفق از طریق بخش تراکنش ها در حساب کاربری قابل دسترسی و روئیت است.
                    </li>
                    <li>
                        قبل از تحویل طلا کاربران گلدیس می‌توانند اقدام به فروش طلا، به نرخ لحظه ای روز نمایند.
                    </li>
                    <li>
                        پس از فروش یا کنسل کردن سفارش در سامانه گلدیس ، مبلغ حاصل از فروش به صورت آنی به موجودی کیف پول کاربر اضافه خواهد شد.
                    </li>
                    <li>
                        گلدیس ملزم است در صورت ثبت در خواست برداشت وجه، پس از استعلام حساب بانکی وجه را ظرف ۷۲ساعت به حساب کاربر به صورت ساتنا و پایا منتقل نماید.
                    </li>
                    <li>
                        انتقال وجه تنها به شماره کارت بانکی صاحب حساب کاربری گلدیس انجام می‌شود
                    </li>
                </ul>
            </div>
            <div id="tahvilExplain" style="display: none;">
                <ul>
                    <li>
                        شمش های تحویلی گلدیس دارای کد استاندارد و یا کد عیار سنجی مورد تایید اتحادیه و اداره استاندارد ایران می باشد.
                        - شمش گلدیس مازاد بر ارزش طلا، شامل هزینه تولید نیز می باشد.
                    </li>
                    <li>
                        حداقل مقدار طلای آبشده که فاقد هزینه های مازاد بر ارزش طلا باشد از ۲۵ گرم قابل تحویل است.
                    </li>
                    <li>
                        بنا بر غیرقانونی بودن ارسال طلا با استفاده از خدمات پستی، تحویل طلا در گلدیس صرفا به صورت حضوری در فروشگاه گلدیس در بازار تهران و یا مراکز تحت قرارداد گلدیس انجام می‌شود.
                    </li>
                    <li>
                        نام و اطلاعات کاربری باید به صورت دقیق، کامل و صحیح باشد. در صورت هرگونه مغایرت مجموعه طلای گلدیس از تحویل سفارش خودداری خواهد کرد.
                    </li>
                    <li>
                        کدملی کاربر و تصویر بارگذاری شده از کارت ملی در طی مراحل ثبت نام جهت انجام فرایند احراز هویت دریافت می‌شود و هنگام تحویل طلا با کارت ملی شخص تطبیق داده می‌شود، بدیهی است اطلاعات شما نزد گلدیس محفوظ است. لازم به ذکر است که این امر به منظور جلوگیری از سواستفاده‌های احتمالی و مواردی نظیر جلوگیری از خرید با کارت‌های سرقت شده و موارد مشابه در نظر گرفته شده است
                    </li>
                    <li>
                        سفارشات دریافت شده پس از تماس کارشناس و اطمینان از درستی اطلاعات وارد شده به مرحله ثبت نهایی و هماهنگی جهت تحویل می‌رسد.
                    </li>
                    <li>
                        مشتریان در هنگام تحویل محصول باید بسته بندی را کنترل و از جهت سالم بودن آن اطمینان حاصل نمایند و در صورت مشاهده هر گونه ایراد در بسته بندی(مانند پارگی و...) به کارشناس گلدیس اطلاع دهند. در غیر این صورت کاربر با امضاء رسید و دریافت کالا صحت مرسوله را تایید نموده است.
                    </li>
                    <li>
                        در صورتی که کالای دریافت شده مغایر با سفارش باشد(وزن، طرح و ...) با رعایت شرایط ذکر شده مشمول سرویس تعویض یا استرداد ۷ روزه می‌باشد.
                    </li>
                    <li>
                        در صورت باز شدن پلمپ پلاک طلای تحویل داده شده به کاربر، هیچگونه مسولیتی بر عهده گلدیس نمی‌باشد
                    </li>
                </ul>
            </div>
            <div id="moarefExplain" style="display: none;">
               <ul>
                <li>
                    کد معرفی که برای ثبت نام در گلدیس استفاده می شود، یک سطحی بوده و به هیچ عنوان مشابه ساختارهای هرمی نمی‌باشد.
                </li>
                <li>
                    در صورت هرگونه سوء استفاده از کد ریفرال گلدیس در فعالیت‌های خلاف قانون، تمامی مسئولیت آن به عهده کاربر بوده و گلدیس مسئولیتی در قبال هرگونه سوء استفاده از سیستم معرفی خود به هر نحو ندارد.
                </li>
                <li>
                    گلدیس در باطل کردن کد معرف و بستن حساب در صورت مشاهده هرگونه سوء استفاده بدون نیاز به دستور قضایی آزادی عمل دارد.
                </li>
               </ul>
            </div>
            <div id="hedyeExplain" style="display: none;">
                <ul>
                    <li>
                        با اولین استفاده، کارت هدیه در حساب کاربری ثبت می‌شود و امکان استفاده از آن برای دیگر کاربران وجود نخواهد داشت.
                    </li>
                    <li>
                        اعتبار کارت هدیه گلدیس را می‌توان در چند خرید مجزا استفاده کرد و الزامی برای خرید در یک تراکنش برای کاربر وجود ندارد.
                    </li>
                    <li>
                        پس از وارد کردن کد هدیه، کارت هدیه قابل مرجوع کردن یا تعویض نیست .
                    </li>
                    <li>
                        اعتبار کارت هدیه طلایی در صورت فروش به قیمت لحظه ای قابل بازگشت است.
                    </li>
                    <li>
                        درصورت تهیه کارت هدیه ریالی مبنای خرید مبلغ ریالی تعیین شده توسط مشتری است و خرید طلایی کاربر با قیمت روز طلا انجام خواهد شد، نه زمان سفارش کد هدیه. در صورت تمایل به دریافت وزن مشخصی از طلا بدون تاثیر قیمت، از کد هدیه طلایی استفاده نمایید.
                    </li>
                    <li>
                        اگر مبلغ سفارش بیش از اعتبار کارت هدیه باشد، می‌توانید باقی‌مانده را با روش‌های عادی پرداخت کرد.
                    </li>
                </ul>
            </div>
        </div>

        <div class="explain">
            توجه داشته باشید کلیه اصول و رویه‏‌های گلدیس منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های گلدیس تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
        </div>
    </div>

    <script src="../js/ghavanin.js"></script>
</body>
</html>