<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/goldReciept.css">
</head>
<body>
    <div class="container">
        <span>
            <img src="../img/gold-bars-shiny-svgrepo-com.svg" width="50px" alt="">
        </span>
        <div class="title">
            فاکتور فروش طلا به گلدیس
        </div>
        <form>
            <div class="buy">
                <span class="mablagh">
                    مبلغ فروش شما
                </span>
                <div>
                    <span class="amount num">
                        #####
                    </span>
                    <span>
                        ریال
                    </span>
                </div>
            </div>
            <div class="area">
                <span class="field">مقدار فروش </span>
                <div>
                    <span class="num">
                        #####
                    </span>
                    <span>
                        گرم
                    </span>
                </div>
            </div>
            <div class="area">
                <span class="field">قیمت فروش طلای خام</span>
                <div>
                    <span class="num">#####</span>
                    <span>ریال</span>
                </div>
            </div>
            <div class="area">
                <span class="field">کارمزد گلدیس</span>
                <div>
                    <span class="num">#####</span>
                    <span>ریال</span>
                </div>
            </div>
            <div class="area">
                <span class="field">کارمزد بانک</span>
                <div>
                    <span class="num">#####</span>
                    <span>ریال</span>
                </div>
            </div>
            <div class="area">
                <span class="field">مبلغ کل</span>
                <div>
                    <span class="num">#####</span>
                    <span>ریال</span>
                </div>
            </div>
            <div>
                <button class="right-btn">
                    تایید
                </button>
                <button class="left-btn">
                    انصراف
                </button>
            </div>
        </form>
    </div>
</body>
</html>