<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/checkWallet.css">
</head>
<body>
    <div class="container">
        <div class="box money-box">
            <div class="matn">
                <span class="title">
                    کیف پول
                </span>
                <div class="explain">
                    با وارد کردن میزان مبلغ مورد نظر میتوانید برداشت یا واریز وجه را انجام دهید .
                </div>
            </div>
            <form class="left-side">
                <span class="header">
                    موجودی کیف پول
                </span>
                <div class="area money-balance">
                    <span>موجودی فعلی شما</span>
                    <span>####</span>
                </div>
                <div class="area">
                    <span>مبلغ :</span>
                    <div>
                        <input type="text" placeholder="0" class="amount-input">
                        <span>ریال</span>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn">
                        واریز وجه
                    </button>
                    <button type="button" class="left-btn"> 
                        برداشت وجه
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>