<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/moneyReciept.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="../img/wallet-svgrepo-com.svg" width="90px" alt="wallet">
        </div>
        <span class="title">برداشت وجه</span>
        <form class="bottom-side">
            <div class="area">
                <span class="field">موجودی فعلی کیف پول شما</span>
                <div>
                    <span class="num">
                        ####
                    </span>
                    <span>ریال</span>
                </div>
            </div>
            <div class="area">
                <span class="field">مبلغ قابل برداشت</span>
                <div>
                    <span class="num">
                        ####
                    </span>
                    <span>ریال</span>
                </div>
            </div>
            <div class="area">
                <span class="field">کارمزد بانک</span>
                <div>
                    <span class="num">
                        ####
                    </span>
                    <span>ریال</span>
                </div>
            </div>
            <div>
                <button class="right-btn">
                    تایید
                </button>
                <button class="left-btn">
                    انصراف
                </button>
            </div>
        </form>
    </div>
</body>
</html>