{% extends 'base.html' %}

{% block title %} اطلاعات حساب{% endblock %}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/styles/bank_info.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}



{% block content %}
    <div class="container">
        <div class="circle-bg1"></div>
        <div class="circle-bg2"></div>
        <div class="circle-bg3"></div>
        <div class="form-wrapper">
            <h1>اطلاعات حساب</h1>
            <input type="text" class="feild" placeholder="شماره کارت">
            <input type="text" class="feild" placeholder="شماره شبا ">
            <button class="button">ثبت</button>
        </div>
        
    </div>

{% endblock %}


