<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./styles/accountStyle.css">
    <link rel="stylesheet" href="./styles/accountMedia.css">
</head>
<body>
    <header>
    </header>
    <main>
        <div class="container">
            <div class="right-item">
                <img src="./images/fa_brandtitel_color2_jpg.jpg" width="500" height="500" alt="persian-logo">
            </div>
            <div class="top-item">
                <img src="./images/monogram_color 2_jpg_prev_ui.png" width="260" height="180" alt="monogram">
            </div>
            <div class="left-item">
                <h2 class="box-title">ورود به حساب کاربری</h2>
                <form action="#" method="post">
                    <input type="text" name="user-name" id="user-name" placeholder="نام کاربری" required autofocus >
                    <input type="password" name="password" id="password" placeholder="رمز عبور" required >
                    <button type="submit" id="login-btn">ورود</button>
                </form>
                <div class="forget-create-div">
                    <a href="#">فراموشی رمز عبور</a>
                    <a href="./register.html">ساخت حساب کاربری</a>        
                </div>
                <a class="return-home" href="#">برگشت به صفحه اصلی</a>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="./js/account.js"></script>
</body>
</html>