{% extends 'base.html' %}

{% block title %} پروفایل{% endblock %}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/styles/profile.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}



{% block content %}



    <div class="container">
        <div class="circle-bg1"></div>
        <!-- <div class="circle-bg2"></div>
        <div class="circle-bg3"></div> -->
        <div class="form-wrapper">
            <h1>مشخصات من</h1>
            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="input-group">
                    {{ form.phone_number }}
                </div>
                <div class="input-group">
                    {{ form.full_name }}
                </div>
                <input class="form-btn" type="submit" value="ثبت">
            </form>
        </div>
    </div>

    <div class="container2">
        <div class="circle-bg4"></div>
        <!-- <div class="circle-bg5"></div>
        <div class="circle-bg6"></div> -->
        <div class="form-wrapper">
            <h1>تغییر رمز عبور</h1>
            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div >
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="input-group">
                    {{ pass_form.password }}
                </div>
                <div class="input-group">
                    {{ pass_form.confirm_password }}
                </div>
                <input class="form-btn" type="submit" value="ثبت">
            </form>
        </div>
    </div>

{% endblock %}


