{% extends 'base.html' %}

{% block title %} پروفایل{% endblock %}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/styles/profile.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container">
    <div class="circle-bg1"></div>
    <div class="circle-bg2"></div>
    <div class="circle-bg3"></div>
    <div class="form-wrapper">
        <h1>مشخصات من</h1>
        <input type="text" class="feild" placeholder=" نام و نام خانوادگی">
        <input type="text" class="feild" placeholder="کد ملی">
        <input type="text" class="feild" placeholder="کد پستی">
        <textarea class="feild msg" placeholder="ادرس"></textarea>
        <button class="button">ثبت</button>
    </div>
    
</div>

<div class="container2">
    <div class="circle-bg4"></div>
    <div class="circle-bg5"></div>
    <div class="circle-bg6"></div>
    <div class="form-wrapper">
        <h1>اطلاعات کاربری</h1>
        <input type="text" class="feild" placeholder=" شماره موبایل">
        <input type="password" class="feild" placeholder="رمز عبور ">
        <input type="password" class="feild" placeholder="تکرار رمزعبور ">
        <button class="button">ثبت</button>
    </div>
    
</div>

{% endblock %}


