{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/styles/signup.css'%}">
{% endblock %}



{% block content %}
    <div class="container">
        <div class="form-wrapper">
            <div class="form-wrapper-bg">
            </div>
            <div class="form-wrapper-right">
                <h1>ثبت نام</h1>
                <form action="" method="post" class="form-signup" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="form-btn" type="submit" value="ثبت نام">
                </form>
                <!-- <a href="{% url 'home:home' %}">برگشت به صفحه اصلی</a> -->
                <a href="#" class="signin-link">ثبت نام کرده اید ؟</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- <script src="{% static 'accounts/js/account.js' %}"></script> -->
{% endblock %}
