{% extends 'base.html' %}

{% block title%}رمز ورود{%endblock%}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/styles/verify.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper-bg-right">
        </div>
        <div class="form-wrapper-mid">
            <h1>رمز ورود</h1>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <div class="form-input">
                    {{ form.as_p }} 
                    <i class="fa-solid fa-key"></i>
                </div>
                <input class="form-btn" type="submit" value="ارسال">
            </form>
            <div id="timer" class="timer">01:00</div>
        </div>
        <div class="form-wrapper-bg-left">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            const countdown = setInterval(() => {
                minutes = Math.floor(timer / 60);
                seconds = timer % 60;

                
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(countdown);
                    display.textContent = "اتمام وقت!";
                }
            }, 1000);
        }

        
        window.onload = function () {
            const display = document.querySelector('#timer');
            const duration = 60; 
            startTimer(duration, display);
        };
    </script>
{% endblock %}




