.container{
    display: flex;
    align-items: flex-start;
    line-height: 2.5rem;
    padding-inline: 2rem;
    text-align: justify;
}
.title{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.nums{
    display: flex;
    gap: 3rem;
    margin: 0 auto;
}
.num{
    background-color: rgb(238, 239, 239);
    width: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.tel{
    display: flex;
    align-items: center;
}
@media (max-width:1120px){
    .nums{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}