{% extends 'base.html' %}

{% block title %}خدمات{% endblock %}

{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/ghavanin.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/khadamat.css' %}">
{% endblock %}



{% block content %}
<div class="container">
    <span class="titr">خدمات گلدیس</span>
    <div>
        خدمات در سامانه گلدیس به صورت 24 ساعته انجام میشود.
    </div>
    <div>
        کاربران در هر ساعتی از شبانه روزی می‌توانند با پیام به پشتیبانی گلدیس سوالات خود را بپرسند. کارشناسان گلدیس از طریق پیام و یا تماس تلفنی اقدام به پاسخ سوالات کاربران میکنند. در سامانه گلدیس کاربران تنها با کارشناسان مخصوص خود در ارتباط هستند و این امر فرایند رفع مشکل کاربران را کمتر میکند.
    </div>
    <div>
        هرگونه تغییر در سامانه گلدیس از طریق پیامک یا صفحات مجازی گلدیس به کاربران اطلاع داده می‌شود. ثبت نام و خرید گلدیس هم از طریق مراجعه حضوری به دفتر مرکزی گلدیس و هم به صورت کاملا آنلاین امکان پذیر است. مشتریان گلدیس در هر کجای کشور می‌توانند به راحتی عضو سامانه شده و از خدمات گلدیس بهره‌مند شوند. در صورت ثبت درخواست تحویل طلا، کالا در کوتاه ترین زمان آماده دریافت می‌شود. در صورت هرگونه مغایرت، با رعایت شرایط ذکر شده در قوانین خرید مشمول سرویس تعویض یا استرداد ۷ روزه می‌باشد. هدف ما همواره ارائه خدمات بهتر به مشتریان است و مشتریان می توانند از طریق مسیر های ارتباطی زیر با گلدیس در ارتباط باشند.
    </div>
</div>
{% endblock %}
