@font-face {
    font-family: "shabnam";
    src: url('../fonts/Shabnam-FD.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "shabnam";
    text-decoration: none;
}
:root{
    --gray-color: rgb(160, 157, 157);
    --orange-color: rgb(228, 190, 138);
    --dark-blue-color: rgb(27, 54, 108);
    --dark-gray-color: rgb(70, 71, 74);
    --white-color: rgb(241, 238, 238);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    width: 50%;
    margin: 8vh auto;
    border: 5px solid var(--gray-color);
    box-shadow: 2px 2px 20px var(--gray-color);
    -webkit-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    -o-border-radius: 2.5%;
    border-radius: 2.5%;
}
.left-item{
    background-color: var(--orange-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 2% 0 0 2%;
    -moz-border-radius: 2% 0 0 2%;
    -ms-border-radius: 2% 0 0 2%;
    -o-border-radius: 2% 0 0 2%;
    border-radius: 2% 0 0 2%;
}
.top-item{
    display: none;
}
.right-item{
    background-color: var(--orange-color);
    -webkit-border-radius: 0 11px 11px 0;
    -moz-border-radius: 0 11px 11px 0;
    -ms-border-radius: 0 11px 11px 0;
    -o-border-radius: 0 11px 11px 0;
    border-radius: 0 11px 11px 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    -webkit-border-radius: 0 11px 11px 0;
    -moz-border-radius: 0 11px 11px 0;
    -ms-border-radius: 0 11px 11px 0;
    -o-border-radius: 0 11px 11px 0;
    border-radius: 11px 0 0 11px;
    width: 100%;
}
img{
    -webkit-border-radius: 0 11px 11px 0;
    -moz-border-radius: 0 11px 11px 0;
    -ms-border-radius: 0 11px 11px 0;
    -o-border-radius: 0 11px 11px 0;
    border-radius: 0 11px 11px 0;
    width: 100%;
    height: 100%;
}
.box-title{
    margin-block: 2rem;
}
.box-title-register{
    margin-block: 3vh;
}
input{
    width: 100%;
    margin: 5px;
    height: 2.9rem;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px var(--gray-color);
    border: var(--gray-color);
    font-size: medium;
    border-left: 2px solid var(--dark-blue-color);
    border-bottom: 2px solid var(--dark-blue-color);
    outline: none;
}
#btn{
    width: 8rem;
    height: 2.5rem;
    margin-top: 2rem;
    color: var(--dark-blue-color);
    border-radius: 9px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 0px 3px var(--gray-color);
    background-color: var(--white-color);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
#btn:hover{
    background-color: var(--dark-blue-color);
    color: var(--orange-color);
}
.forget-create-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    border-top: 1px solid var(--gray-color);
    width: 22rem;
    justify-items: center;
    padding-top: 1rem;
}
a{
    color: var(--dark-gray-color);
}
.left-item div{
    margin-block: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p{
    width: 80%;
}