@font-face {
    font-family: 'shabnam';
    src: url(../fonts/Shabnam-FD.ttf);
}
@font-face {
    font-family: 'shabnam-bold';
    src: url(../fonts/Shabnam-Bold-FD-WOL.ttf);
}
:root{
    --title-color: rgb(71, 69, 69);
    --khaki: #58595b;
    --line:rgb(173, 171, 171);
    --darkk-gray:#4f4b4b;
    --kerem:#e4be8a;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: shabnam;
}
.container{
    margin: 2rem auto;
    max-width: 900px;
    height: 50rem;
    display: grid;
    grid-template-rows: 5fr 3fr;
    gap: 1.5rem;
}
.box{
    background-color: #faf9f9;
    padding: 1rem;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
    box-shadow: 0px 0px 7px 0px #c6bebe;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.matn{
    display: flex;
    flex-direction: column;
}
.title{
    color: var(--title-color);
    font-family: shabnam-bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-bottom: 1px solid var(--line);
}
.explain{
    text-align: justify;
    line-height: 1.8rem;
    color: var(--darkk-gray);
}
.left-side{
    background-color: rgb(233, 230, 230);
    padding: 10px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-size: 23px;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}
.area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-inline: 10px;
    margin: 8px;
    width: 21rem;
    height: 3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(106, 102, 102);
}
.gold-balance{
    background-color: rgb(248, 176, 61);
    margin-bottom: 1.9rem;
}
.amount-input{
    background-color: #f9e1c2;
    border-radius: 5px;
    width: 6rem;
    text-align: left;
    padding-inline: 9px;
    font-size: 19px;
    outline: none;
    direction: ltr;
    height: 2rem;
}
button{
    height: 2.5rem;
    width: 9.2rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-block: 1rem;
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    -ms-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
    box-shadow: 0 0 2px #afadad;

}
button:hover{
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}
.right-btn{
    background-color: rgb(248, 176, 61);
}
.left-btn{
    background-color: #918f8f;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}